<td [formGroup]="userForm">
    <input type="text" name="givenName" class="form-control" required formControlName="givenName" />
    <div *ngIf="isInvalid('givenName')" class="alert alert-danger">Invalid given name</div>
</td>
<td [formGroup]="userForm">
    <input type="text" name="surname" class="form-control" required formControlName="surname" />
    <div *ngIf="isInvalid('surname')" class="alert alert-danger">Invalid surname</div>
</td>
<td [formGroup]="userForm">
    <input type="email" name="emailAddress" class="form-control" required email formControlName="emailAddress" />
    <div *ngIf="isInvalid('emailAddress')" class="alert alert-danger">Invalid e-mail address</div>
</td>
<td>
    <button class="btn btn-success" [disabled]="userForm.invalid" (click)="submit()"><span class="glyphicon glyphicon-plus"></span></button>
</td>
